doctype html
// saved from url=(0053)https://colorlib.com/etc/email-template/10/index.html
html(lang="en" xmlns="http://www.w3.org/1999/xhtml", xmlns:v="urn:schemas-microsoft-com:vml", xmlns:o="urn:schemas-microsoft-com:office:office")
  head
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    meta(name="viewport" content="width=device-width")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="x-apple-disable-message-reformatting")
    meta(name="robots" content="noindex, follow")
    title #{subject}

    include _style

  body(width="100%" style="margin: 0; padding: 0 !important; mso-line-height-rule: exactly; background-color: #f1f1f1;")
    center(style="width: 100%; background-color: #f1f1f1;")
      div(style="display: none; font-size: 1px;max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden; mso-hide: all; font-family: sans-serif;")
      .email-container(style="max-width: 600px; margin: 0 auto;")

        block content